.background    { background: rgb(50, 193, 21);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(226, 37, 0); }
.wall          { background: purple;   }
.floater	   { background: rgb(68,255, 231);	}
.coin		   { background: yellow;	}
.berry		   { background: rgb(254,0,203);  }
.actor { position: absolute; }
.player { background: orange; }

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
